.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  position: relative;
  transition: var(--theme-transition);
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }
}
